* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #ffffff;
}

h2 {
  font-size: 25px;
  color: #585858;
}

p {
  font-size: 20px;
}

/*Navigation Bar*/
.navbar {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  position: sticky;
  opacity: 0.8;
  background-color: white;
}
.nav li {
  display: inline-block;
  padding: 15px 20px;
}
.nav li a {
  transition: all 0.3s ease 0s;
  color: black;
  text-decoration: none;
  font-weight: 100;
  font-size: 18px;
}
.nav a:hover {
  background-color: #dfdfdd;
  padding: 20px 30px;
  opacity: 0.5;
  color: grey;
}
.logobutton {
  position: relative;
}

/* All Pages Header*/
.page-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 45px;
  padding: 1em;
}

.border-left {
  border-left: 2px solid black;
  padding: 1em;
  margin: 1em;
}
/*Homepage -- Introduction Paragraph*/
.content {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding: 2em;
  flex-wrap: wrap;
}
.homepage-header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 45px;
  padding-top: 1em;
}

#homepage-slogan {
  font-size: 18pt;
  text-align: center;
  color: grey;
}
#grey-text {
  font-size: 18pt;
  color: grey;
}

.homepageOne {
  display: flex;
  flex-wrap: wrap;
}

.pillars {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  padding: 1em;
  margin-top: 5em;
  padding-top: 2em;
  border-top: 1px solid #dbdad5;
}

/*FORM*/
input[type="text"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="email"],
select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.submit {
  background: #7889A6;
  border: 0;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  display: block;
  text-align: center;
  border-radius: 6px;
  font-weight: bold;
}
input[type="submit"]:hover {
  background-color: #7889A6;
}

/*SHOP PAGE */
.border-bottom {
  border-bottom: 1px solid #dbdad5;
  padding: 1em;
}

.shop {
  border: 1px solid #dbdad5;
  background: #F8F8F8;
  border-radius: 10px;
  padding: 1em;
}
.collectionOne {
  display: flex;
  justify-content: space-around;
  margin: 2em;
  flex-wrap: wrap;
}
.item {
  border: 1px solid #dbdad5;
  border-radius: 5px;
  box-shadow: 1px 1px 6px 1px #888888;
}
.item:hover {
  box-shadow: 1px 1px 10px 1px #444444;
  transition: all 0.2s ease 0s;
}
.desc {
  padding: 15px;
  text-align: left;
}
.order-form {
  background: #F8F8F8;
  padding: 2em;
  border-radius: 10px;
  margin-right: 2em;
}
.order-section {
  display: flex;
  flex-wrap: wrap;
}
/*ABOUT PAGE*/
#defOne {
  font-size: 30pt;
  color: grey;
}
#defTwo {
  font-size: 16pt;
  color: #585858;
}
.sectionOne {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em;
}
.sectionTwo {
  display: flex;
  flex-wrap: wrap;
}
.sectionTwo div {
  padding: 1em;
}
.order-FAQ {
  margin: 2em;
}
/*FAQ PAGE*/
.FAQONE,
.FAQTWO,
.sectionTwo {
  border-top: 1px solid #dbdad5;
  padding: 1em;
}

.collapsible {
  background-color: #A9A9A9;
  color: white;
  cursor: pointer;
  padding: 1em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.active,
.collapsible:hover {
  background-color: #888888;
}
.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
}
.FAQ {
  padding: 0 2em;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.FAQ p {
  padding: 1em;
}

/*CONTACT PAGE*/
.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: #F8F8F8;
  padding: 2em;
  border-radius: 10px;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.map {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.socials {
  padding: 1em;
  background: #F8F8F8;
}
.socials a {
  text-decoration: none;
}

/*Footer*/
footer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
